/* Base Application Styles */
body {
    font-family: verdana, arial, sans-serif;
    background: #f9f9f9;
    font-size: 13px;
    color: #484848;
    text-rendering: optimizelegibility;
}

.app {
    padding: 10px;
}
.app > .editor {
    float:left;
    margin-right: 20px;
    max-width: 60%;
}

.app__sidebar {
    overflow: hidden;
}

.title {
    letter-spacing: -0.3px;
    padding: 0;
    margin: 0 0 10px;
    font-size: 28px;
    font-weight: bold;
    line-height: 30px;
    min-height: 60px;
    /* text-transform: uppercase; */
}

.title__emphasize {
    /* font-weight: bold; */
    text-transform: none;
    /* font-size: 20px; */
}

.app__controls{
    padding-top: 20px;
}

.button {
    border: none;
    background: -webkit-linear-gradient(#9a9a9a, #646464);
    background: linear-gradient(#9a9a9a, #646464);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    color: #fafafa;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    text-decoration: none;
    outline: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.button_style_info {
    background: #6FCC9F;
    margin-right: 20px;
}

.button_style_danger {
    background: #cc7a6f;
    color: #fafafa;
}

.button_style_danger:active {
    background: #c5695c;
}

.alert {
    padding: 10px 20px;
    background: rgba(204,122,111,0.1) url('../images/caution.svg') no-repeat 15px center;
    padding-left: 85px;
    background-size: 50px auto;
    font-size: 20px;
    font-family: Arial;
    border-left: 5px solid rgba(191,87,73,0.2);
}

.alert ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.editor {
    cursor: crosshair;
    position: relative;
}

.editor__img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100vh;
    display: block;
    /* padding-bottom: 20px; */
    box-sizing: border-box;
}

.editor__point {
    background: url('../images/plus2.svg') no-repeat center;
    background-size: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
}

.example {
    position: relative;
}

.example__img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100vh;
    display: block;
    /* padding-bottom: 20px; */
    box-sizing: border-box;
}

.example__point {
    animation: pulse2 1s linear infinite;
    border-radius: 50%;
    background: red;
    background-size: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 1vw;
    height: 1vw;
    position: absolute;
}

@keyframes "pulse2" {
    0% {
        transform: translate(-50%, -50%) scale(1.5) ;
    }
    50% {
        transform: translate(-50%, -50%) scale(0.3);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.app__example {
    background: #f8f5ec;
}

.app__example-title {
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #222;
    background-color: #f1ede4;
}

.app__example > .example {
    margin: 10px;
    float: left;
}
.app__example .example__img {
    max-height: 65vh;
}
